NUXT_PUBLIC_SITE_URL=http://localhost:3000

NUXT_RESEND_API_KEY=
NUXT_EMAIL_FROM=auth@thecodeorigin.com

NUXT_GOOGLE_CLIENT_ID=
NUXT_GOOGLE_CLIENT_SECRET=
NUXT_GITHUB_CLIENT_ID=
NUXT_GITHUB_CLIENT_SECRET=

NUXT_ADMIN_USER_IDS=
NUXT_SEED_ADMIN_EMAIL=contact@thecodeorigin.com
NUXT_ALLOW_IMPERSONATION=

NUXT_POLAR_ACCESS_TOKEN=
NUXT_POLAR_WEBHOOK_SECRET=

NUXT_NGROK_AUTHTOKEN=
NUXT_SANDBOX_MODE=
